@model Product
<form method="post">
	<div class="p-3 mt-4">
		<div class="row pb-2">
			<h2 class="text-primary">Edit Product</h2>
			<hr />
		</div>
		@if (TempData["FailureMessage"] != null)
		{
			<div class="alert alert-danger alert-dismissible" role="alert">
				<div>@TempData["FailureMessage"]</div>
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
		}
		<input asp-for="Id" hidden />
		<div class="mb-3">
			<label asp-for="Name"></label>
			<input asp-for="Name" class="form-control" />
			<span asp-validation-for="Name" class="text-danger"></span>

		</div>
		<div class="mb-3">
			<label asp-for="UniqueCode"></label>
			<input asp-for="UniqueCode" class="form-control" />
			<span asp-validation-for="UniqueCode" class="text-danger"></span>

		</div>
		<div class="mb-3">
			<label asp-for="Price"></label>
			<input asp-for="Price" class="form-control" />
			<span asp-validation-for="Price" class="text-danger"></span>
		</div>
		<button type="submit" class="btn btn-primary">Edit</button>
		<a asp-controller="Products" asp-action="Index" class="btn btn-outline-light">Back to list</a>
		<button type="submit" asp-controller="Products" asp-action="Delete" class="btn btn-danger">Delete</button>
	</div>
</form>