@{
    ViewData["Title"] = "Home Page";
}
<div class="d-flex flex-column flex-md-row">
    <div style="flex: 1">
        <h1 style="font-size: 4rem" class="mt-5">Billing made easier</h1>
        <p style="font-size: 1.5rem">
            Welcome to IMS – a streamlined solution for inventory and billing management. Designed for stores of all sizes, our system simplifies inventory tracking, sales processing, and warehouse management. With dedicated dashboards for Admins, Sales, and Warehouse teams, IMS keeps operations organized and efficient.
        </p>
        <a class="btn btn-light" style="border-radius: 4px; font-size: 1.5rem; width: 10rem" asp-area="" asp-controller="Bills" asp-action="Create">New Bill</a>
    </div>
    <div style="flex: 1" class="d-flex justify-content-center align-items-center d-none d-md-flex">
        <img src="~/Assets/hero.png" alt="IMS Hero Image" style="width: 70%; height: auto; object-fit: cover;" />
    </div>
</div>
